apps/**/node_modules
libs/**/node_modules

libs/shinkai-tools-runner/target

node_modules
dist
tmp
target

.nx/cache
.nx/workspace-data
libs/shinkai-tools-runner/tools
libs/shinkai-tools-runner/shinkai-tools-runner-resources
apps/shinkai-tool-aave-load-requester/src/bundled-resources
launch.json
.DS_Store
libs/shinkai-tools-runner/shinkai-tools-runner-execution-storage
